* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', "Arial", sans-serif;
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding-top: 40px;
}

.head-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-list {
    display: flex;
    padding: 0;
}

.head-item {
    list-style: none;
    margin-left: 72px;
}

.head-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    text-decoration: none;
}

.head-link-last {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    text-decoration: none;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 9px 32px;
}

.hero {
    background-image: url("../Images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: calc(50% + 650px) calc(50% + 120px );
    padding-top: 125px;
}

.hero-box {
    display: flex;

}

.hero-left {
    width: 630px;
    margin-left: 61px;
}

.hero-title {
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    margin-bottom: 15px;
}

.hero-span {
    color: #717CFF;
}

.hero-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    margin-bottom: 42px;
}

.box-link {
    width: 262px;
    display: flex;
    align-items: center;
    background: #717CFF;
    border-radius: 11px;
    padding: 12px 24px 12px 34px;
}

.hero-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

.hero-link::after {
    content: "";
    display: block;
    width: 28px;
    height: 26px;
    background-image: url("../Images/strelka.svg");
    background-size: cover;
    margin-left: 34px;
}

.hero-img {
    margin-left: 34px;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 104px;
}

.icon-link:nth-child(1) {
    margin-left: 0;
}

.icon-link {
    margin-left: 29px;
}

.universities {
    background: #FAFAFA;
    padding-top: 55px;
    padding-bottom: 57px;
}

.unvr-title  {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
    text-align: center;
    margin-bottom: 94px;
}

.unvr-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 112px;
}

.unvr-item:nth-child(1) {
    list-style: none;
    margin-left: 0;
}

.unvr-item {
    list-style: none;
    margin-left: 74px;
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-span1 {
    width: 14px;
    height: 14px;
    background: #717CFF;
    border-radius: 50%;
}

.spot-span {
    width: 10px;
    height: 10px;
    background: rgba(124, 124, 124, 0.318837);
    border-radius: 50%;
    margin-left: 21px;
}

.services {
    background: #F2F2F2;
    padding-top: 122px;
    padding-bottom: 126px;
}

.services-box {
    width: 949px;
    margin: auto;
}

.services-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.services-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 110px;
}

.services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.services-item:nth-child(2) {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-right: 47px;
    margin-left: 47px;
}

.services-item:nth-child(4) {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-right: 47px;
}

.services-item {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-bottom: 56px;
    list-style: none;
    padding-top: 29px;
    padding-bottom: 34px;
    padding-left: 31px;
}

.services-item::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/career.svg");
}
.services-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/Group.svg");
}
.services-item:nth-child(3)::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/visa.svg");
}
.services-item:nth-child(4)::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/home.svg");
}
.services-item:nth-child(5)::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/airplane.svg");
}


.item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}

.item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.item-box {
    display: flex;
    align-items: center;
}

.item-box-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    text-decoration: none;
}

.item-box-link::after {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    background-image: url("../Images/strelka.svg");
    background-size: cover;
    margin-left: 21px;
}

.item-box-img {
    margin-left: 21px;
}

.news {
    background: #FAFAFA;
    padding-top: 102px;
    padding-bottom: 124px;
}

.top-news {
    width: 949px;
    margin: 0 auto;
}

.news-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin-bottom: 25px;
}

.news-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 119px;
}

.news-list {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-bottom: 146px;
}

.news-item {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    margin-left: 46px;
    padding-bottom: 62px;
}

.news-top-img {
    width: 344px;
    height: 224px;
    background-image: url("../Images/come.jpg");
}

.news-top-img2 {
    width: 344px;
    height: 224px;
    background-image: url("../Images/trump.jpg");
}

.news-top-img3 {
    width: 344px;
    height: 224px;
    background-image: url("../Images/how.jpg");
}

.news-item:nth-child(1) {
    margin-left: 0;
}

.item-bottom {
    width: 291px;
    margin: 0 auto;
}

.news-span {
    display: flex;
    align-items: center;
}

.news-text2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin-left: 15px;
}

.news-title2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
}

.news-link-box {
    display: flex;
    align-items: center;
    width: 226px;
    background: #717CFF;
    border-radius: 11px;
    margin: 0 auto;
    padding: 12px 24px 12px 24px;
}

.news-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.news-link::after {
    content: "";
    display: block;
    width: 28px;
    height: 26px;
    background-image: url("../Images/strelka.svg");
    background-size: cover;
    margin-left: 34px;
}

.upcoming {
    padding-top: 98px;
    padding-bottom: 108px;
}   

.upcoming-top {
    width: 949px;
    margin: 0 auto;
}

.upcoming-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.upcoming-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 100px;
}

.upcoming-list {
    display: flex;
    justify-content: center;
    margin-bottom: 81px;
    padding: 0;
}

.upcoming-item {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    list-style: none;
    padding: 29px 28px 31px 31px;

}

.upcoming-item:nth-child(2) {
    margin-left: 47px;
}

.upcoming-top1 {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.upcoming-top12 {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.upcoming-top1::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/Group 2.svg");
}

.upcoming-top12::before {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-image: url("../Images/17.svg");
}

.up-top-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin: 0;
    margin-left: 19px;
}

.up-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 25px;
}

.upcoming-bottom {
    display: flex;
    align-items: center;
}

.learn-box {
    display: block;
    align-items: center;
}

.learn-link {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    margin-right: 21px;
    text-decoration: none;
}

.time-box {
    display: flex;
    align-items: center;
    margin-left: 179px;
}

.countries {
    background: #FAFAFA;
    padding-top: 82px;
    padding-bottom: 136px;
}

.countries-box {
    width: 949px;
    margin: 0 auto;
    margin-bottom: 77px;
}

.countries-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.countries-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.countries-list {
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
    padding: 0;
}

.countries-item {
    width: 348px;
    list-style: none;
}

.countries-item:nth-child(2) {
    margin-right: 48px;
    margin-left: 48px;
}

.coun-title {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
}

.coun-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
}

.testimonial {
    background: #FFFFFF;
    padding-top: 115px;
    padding-bottom: 98px;
}

.testimonial-box {
    width: 949px;
    margin: 0 auto;
}

.testimonial-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.testimonial-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 142px;
}

.testimonial-list {
    display: flex;
    justify-content: center;
    margin-bottom: 84px;
    padding: 0;
}

.testimonial-item {
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
    list-style: none;
    padding-top: 39px;
    padding-right: 34px;
    padding-bottom: 46px;
    padding-left: 34px;
}

.testimonial-item:nth-child(2) {
    margin-left: 61px;
}

.test-top {
    display: flex;
    align-items: center;
}

.test-top2 {
    display: flex;
    align-items: center;
}

.test-top::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background-image: url("../Images/girl-photo.svg");
}

.test-top2::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background-image: url("../Images/boy.svg");
}

.test-text {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin-left: 28px;
}

.test-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
}

.test-bottom-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}

.ready {
    background: #FAFAFA;
    padding-top: 82px;
    padding-bottom: 74px;
}

.ready-box {
    width: 1143px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
    margin-right: 392px;
}

.ready-right {
    width: 262px;
    display: flex;
    align-items: center;
    background: #717CFF;
    border-radius: 11px;
    padding: 12px 24px 12px 34px;
}

.ready-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    margin-right: 48px;
    text-decoration: none;
}

footer {
    background: #717CFF;
    padding-top: 64px;
    padding-bottom: 45px;
}

.foot-box {
    display: flex;
}

.logo-box {
    width: 343px;
}

.logo-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
    margin-top: 26px;
    margin-bottom: 58px;
}

.logo-text2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}

.foot-list {
    display: flex;
    margin-left: 130px;
    padding: 0;
}

.foot-item {
    width: 161px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.foot-item3 {
    width: 161px;
    display: flex;
    list-style: none;
    margin-left: 152px;
    padding-top: 160px;
}

.foot-item:nth-child(1) {
    margin-right: 106px;
}

.item-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
    text-decoration: none;
}

.inter-box {
    display: flex;
    align-items: flex-end;
}

.inter-link:nth-child(2) {
    margin-right: 29px;
    margin-left: 29px;
}